*{
    font-family: sans-serif;
}

.header{

    height: 120px;
}

.logo {

    width: auto;
    height: 100px;
    float: left;
}

.searchBox {

    width: 400px;
    height: auto;
    vertical-align: middle;
    margin-left: 100px;
    margin-top: 60px;
    text-align:center;
    float: left;
}

.listBox {
    width: 80px;
    height: 80px;
    margin-top: 10px;
    margin-left: 100px;
    float:left;
}

.listPic {
    height: 80px;
    width : 80px;
    border-radius: 15px;
}

.profilePic {
    height: 80px;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
}

.body {

}

.userBio {
    border: solid 1px black;
    width: 200px;
    height: 150px;
    text-align: center;
}

.userBioBox {
}
